name: Pull request
on:
  pull_request:
    branches: [master]
jobs:
  Lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Check formatting
        uses: "lgeiger/black-action@master"
        with:
          args: ". -l 79 --check"
  check-changelog:
    name: Check changelog fragment
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check for changelog fragment
        run: |
          FRAGMENTS=$(find changelog.d -type f ! -name '.gitkeep' | wc -l)
          if [ "$FRAGMENTS" -eq 0 ]; then
            echo "::error::No changelog fragment found in changelog.d/"
            echo "Add one with: echo 'Description.' > changelog.d/\$(git branch --show-current).<type>.md"
            echo "Types: added, changed, fixed, removed, breaking"
            exit 1
          fi
  Test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.13
      - name: Install build dependencies
        run: pip install wheel setuptools
      - name: Install package
        run: make install
      - name: Run tests
        run: make test
      - uses: codecov/codecov-action@v3
      - name: Build package
        run: make build
      - name: Test documentation builds
        run: make documentation
